<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>380213832344-v8ol09n0mtid7c5vtllqti8cmoqq8nru.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.380213832344-v8ol09n0mtid7c5vtllqti8cmoqq8nru</string>
	<key>API_KEY</key>
	<string>AIzaSyALUpf4gzg4WRsCH2wB_R46GzPEwu2uY94</string>
	<key>GCM_SENDER_ID</key>
	<string>380213832344</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.copycat.instamax</string>
	<key>PROJECT_ID</key>
	<string>instamax-f5005</string>
	<key>STORAGE_BUCKET</key>
	<string>instamax-f5005.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:380213832344:ios:2a830f9af550a5a9d47eed</string>
	<key>DATABASE_URL</key>
	<string>https://instamax-f5005.firebaseio.com</string>
</dict>
</plist>